/* для отображения мобильной версии  http://www.responsinator.com */

/* больше 576 */
@media (min-width: 576px) {
 
}

/* меньше 576 */
@media (max-width: 576px) {
  .container.wrap {
    margin: 0 auto;
  }

  label{
    text-align: center;
    display: block;
  }

  .contacts-body{
    &__title{
      font-size: 1.0rem;
      margin-bottom: 18px;
      text-align: center;
    }

    &__line{
      font-size: 1.0rem;
      padding: 0 15px;
      white-space:pre-line;
    }

    &__submitform{
      display: none;
      padding:  30px;
    }

    &__communication{
      margin-top: 0px;
    }
  }

  .contacts-footer{
    &__text{
      font-family: 'Play', sans-serif;
      font-size: 1.0rem;
    }
    &__text::before{
      content:'';
      background: url(../images/check-mark-box.svg) no-repeat;
      background-size: 100%;
      margin-right: 18px;
      padding: 16px;
    }
  }
}


// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }