/* для отображения мобильной версии  http://www.responsinator.com */

/* меньше 576 */
@media (max-width: 576px) {
  .about{
    &::before{
      content:'';
      display: none;
      background: url(../images/men.jpg) no-repeat;
      background-size: 100%;
      position: absolute;
      top:60px;
      left: -50px;
      width: 110%;
      height: 100%;
      z-index: -1;
    }
  }

  .about-body{
    &__text-right{
      color: #fff;
      margin-top: 0px;
      font-size: 1.0rem;
      line-height: 1.8rem;
      padding: 1.8rem;
      min-height: 500px;
      z-index: 0;
    }

    &__text{
      position: absolute;
      left: 0;
      bottom: 0;
      font-size: 1.0rem;
      line-height: 1.8rem;
      padding: 1rem;
      background-color:rgb(238, 238, 238, .9);
      min-height: 200px;
      z-index: 0;
    }
  }

  .customers-header{
    &__text{
      font-size: 1.0rem;
    }
  }

  .customers-footer{
    &__text{
      font-size: 1.0rem;
    }
  }
  

  .suppliers-header{
    &__text{
      font-size: 1.0rem;
    }
  }

  .contacts{
    & h3{
      text-align: center;
      margin-top: 20px;
      font-size: 1.1rem;
    }
  }

  .contacts-body{
    &__list{
      list-style-type: none;
      & li{
        margin-left: -20px;
        font-size: 1.0rem;
      }
      & span{
        display: block;
      }
    }
  }

  .contacts-footer{
    margin-top: 28px;
    &__text{
      font-family: 'Play', sans-serif;
      font-size: 1.0rem;
    }
    &__text::before{
      content:'';
      background: url(../images/check-mark-box.svg) no-repeat;
      background-size: 80%;
      padding-left: 10px;
    }
  }
}


// @media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
// @media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
// @media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
// @media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
// @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
// @media (min-width:1281px) { /* hi-res laptops and desktops */ }

/* больше 576 */
//@media (min-width: 576px) {}