section.about-section {
  color: #000;
  overflow: hidden;
  background: #155;
}

section.about-section h2 {
  text-align: center;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  font-size: 38px;
}