
html{
  scroll-behavior: smooth;
  font-size: 16px;
}

.container{
  max-width: 1200px;
  font-family: 'Play', sans-serif;
  margin: 25px auto;
  -webkit-box-shadow: 2px -2px 10px 1px rgba(0,0,0,1);
  -moz-box-shadow: 2px -2px 10px 1px rgba(0,0,0,1);
  box-shadow: 2px -2px 10px 1px rgba(0,0,0,1);
}

section {
  position: relative;
  overflow: hidden;
  margin: auto -15px;
  min-height: 850px;
  &.first{
    position: relative;
    height: 100vh;
  }
}

h3.title{
  margin: 0;
  text-align: center;
  background-color:rgba(39, 46, 56, .7);
}

// фон
.bg-dark{
  background-color:rgb(39, 46, 56);
  color: #fff;
}
.bg-red{
  background-color: rgb(154, 0, 7);
  color: #fff;
}
.bg-grey{
  background-color:rgba(39, 46, 56, .5);
  color: #fff;
}

.uppercase{
  text-transform: uppercase;
}
.italic{
  transform: skew(-12deg, 0deg);
}
.bold{
  font-weight: 600;
}
.red{
  color: rgb(154, 0, 7);
}
.dark{
  color:rgb(39, 46, 56);
}
.white{
  color:rgb(255, 255, 255);
}


//иконки
.icon-check::before{
  content:'';
  background: url(../images/check-mark-box.svg) no-repeat;
  background-size: 100%;
  margin-right: 16px;
  padding: 14px;
  font-size: 0.6rem;
}

input, textarea{
  border-radius: 0 !important;
}

// кнопки
.btn{
  color: #fff !important;
  border-radius: 0;
  padding: 0.4em 1.8em;
  &:hover{
    opacity: .8;
  }
}

@import './desktop/style.scss';
@import './desktop/style.max.scss';
@import './tablet/style.scss';
@import './mobile/style.scss';
@import './mobile/style.mini.scss';
