@import 'normalize.css';
@import './main-section.scss';
@import './contacts-section.scss';
@import './about-section.scss';
@import './partners-section.scss';

* { box-sizing: border-box; }

html {
  scroll-behavior: smooth;
}

.wrap-container {
  display: flex;
  justify-content: center;
  color: #fff;scroll-behavior: smooth;
} 

.main-container {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 992px;
  box-shadow:3px 5px 8px 7px rgba(0,0,0,0.32);
  -webkit-box-shadow:3px 5px 8px 7px rgba(0,0,0,0.32);
  -moz-box-shadow:3px 5px 8px 7px rgba(0,0,0,0.32);
}

section {
  height: 100vh;
}

section.main-section {
  position: relative;
}

section.about-section{
  position: relative;
}

section.partners-section{
  background-color:#555;
  position: relative;
}

section.contacts-section{
  position: relative;
}


@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (max-width: 767px) {}

@media (max-width: 480px) {}
