section.partners-section {
  color: #000;
  overflow: hidden;
 // background: #551;
}

section.partners-section h2 {
  text-align: center;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  font-size: 38px;
}