section.partners-section {
  color: #000;
  overflow: hidden;
 // background: #551;
}

section.partners-section h2 {
  text-align: center;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  font-size: 32px;
}

section.partners-section .text {
  // display: none;
  position: absolute;
  font-family: 'Play', sans-serif;
  line-height: 1.5;
  font-size: 18px;
  padding: 40px;
  top:70px;
  bottom: 0;
  z-index: 4;
  background-color: rgba(255, 255, 255, .7);
}

section.partners-section .domodedovo{
  position: absolute;
  top: 240px;
  left: 35px;
  background: url(../images/domodedovo.png) no-repeat;
  background-size: 100%;
  width: 400px;
  height: 90px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
-moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
 z-index: 4;
}

section.partners-section .plastika-okon {
  position: absolute;
  top: 350px;
  left: 35px;
  background: url(../images/plastika-okon.png) no-repeat;
  background-size: 100%;
  width: 200px;
  height: 60px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
 z-index: 4;
}

section.partners-section .maxi-pro {
  position: absolute;
  top: 420px;
  left: 35px;
  background: url(../images/maxi_pro.jpg) no-repeat;
  background-size: 100%;
  width: 150px;
  height: 150px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  z-index: 4;
}

section.partners-section .stroy-holding {
  position: absolute;
  top: 240px;
  right: 35px;
  background: url(../images/stroy_holding.png) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 70px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  z-index: 4;
}

section.partners-section .x5-retail {
  position: absolute;
  top: 350px;
  right: 185px;
  background: url(../images/x5_retail.png) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 70px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  z-index: 4;
}

section.partners-section .zergud {
  position: absolute;
  top: 440px;
  right: 35px;
  background: url(../images/zergud.png) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 100px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  z-index: 4;
}

section.partners-section .guov {
  position: absolute;
  top: 560px;
  right: 85px;
  background: url(../images/guov.jpg) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 100px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  z-index: 4;
}

section.partners-section .etm {
  position: absolute;
  top: 490px;
  right: 420px;
  background: url(../images/etm.png) no-repeat;
  background-size: 100%;
  width: 300px;
  height: 120px;
  -webkit-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  -moz-box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  box-shadow: 6px 5px 14px -5px rgba(0, 0, 0, 0.99);
  z-index: 4;
}

section.partners-section .thanks{
  position: absolute;
  background: #272e38;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  z-index: 4;
  display: flex;
  justify-content: space-around;
  align-items: center;
} 

section.partners-section .thank-1{
  background: url(../images/mini/1-min.jpg) no-repeat;
  background-size: 100px 140px;
  background-color: #fff;
  width: 120px;
  height: 180px;
}

section.partners-section .thank-2{
  background: url(../images/mini/2-min.jpg) no-repeat;
  background-size: 100px 140px;
  background-color: #fff;
  width: 120px;
  height: 180px;
}
section.partners-section .thank-3{
  background: url(../images/mini/3-min.jpg) no-repeat;
  background-size: 100px 140px;
  background-color: #fff;
  width: 120px;
  height: 180px;
}
section.partners-section .thank-4{
  background: url(../images/mini/4-min.jpg) no-repeat;
  background-size: 100px 140px;
  background-color: #fff;
  width: 120px;
  height: 180px;
}
section.partners-section .thank-5{
  background: url(../images/mini/5-min.jpg) no-repeat;
  background-size: 100px 140px;
  background-color: #fff;
  width: 120px;
  height: 180px;
}
section.partners-section .thank-6{
  background: url(../images/mini/6-min.jpg) no-repeat;
  background-size: 100px 140px;
  background-color: #fff;
  width: 120px;
  height: 180px;
}