.menu-section{
 position: relative;
 height: 0;
}
.menu {
  z-index: 50;
  top: 170px;
  right: 0;
  width: 170px;
  position: absolute;
  & ul {
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  & li {
    padding-bottom: 16px;
  }

  & li::before{
    content: '\00bb';
    color: #fff;
    padding-right: 10px;
  }

  & a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
}