section.contacts-section {
  color: #000;
  overflow: hidden;
  background: '';
}

section.contacts-section h2 {
  text-align: center;
  font-family: 'Play', sans-serif;
  letter-spacing: 1px;
  font-size: 32px;
}

section.contacts-section .znak {
  position: absolute;
  background: url(../images/znak.png) no-repeat;
  top: 150px;
  left: 0;
  width: 500px;
  height: 500px;
  z-index: 0;
}

section.contacts-section .contacts {
  display: block;
  position: absolute;
  background: rgba(200, 200, 200, .2);
  top: 100px;
  right: 0;
  width: 680px;
  height: 500px;
  z-index: 1;
  padding: 55px 0 0 55px;
  & h3 {
    font-family: 'Play', sans-serif;
    font-size: 26px;
    margin-bottom: 22px;
  }

  & .line {
    font-family: 'Play', sans-serif;
    font-size: 18px;
    margin-bottom: 12px;
    margin-left: 16px;
  }

  & .line-bottom {
    font-family: 'Play', sans-serif;
    font-size: 20px;
    margin-top: 22px;
    margin-left: 16px;
  }
}

/*форма отправки*/
section.contacts-section .contacts-form {
  display: none;
  position: absolute;
  background: rgba(200, 200, 200, .2);
  top: 100px;
  right: 0;
  width: 680px;
  height: 500px;
  z-index: 1;
  padding: 55px 0 0 55px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

  input {
    width: 520px;
    font-size: 18px;
    padding: 10px 0 10px 10px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 0px;
  }
  textarea {
    /* = Убираем скролл */
    overflow: auto;
  
    /* = Убираем увеличение */
    resize: none;
    width: 520px;
    height: 200px;
  
    /* = Добавим фон, рамку, отступ*/
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0px 0 0 0;
    padding: 10px 0 10px 10px;
  }
}

section.contacts-section .text {
  position: absolute;
  z-index: 1;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  top: 720px;
  left: 0;
  padding-left: 90px;
  padding-right: 90px;
  line-height: 1.8;
  &::before{
    content:'';
    background: url(../images/check-mark-box.svg) no-repeat;
    margin-right: 24px;
    background-size: 100%;
    padding: 18px;
  }
}

section.contacts-section .button-submit {
  position: absolute;
  top: 400px;
  right: 0;
  width: 300px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  text-align: center;
  
  &:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
  &:active { background: rgb(152,15,0); } /* при нажатии */
}

section.contacts-section .button-close {
  position: absolute;
  top: 400px;
  left: 0;
  width: 200px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: #272e38; /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  text-align: center;
  
  &:hover { background: #384455; } /* при наведении курсора мышки */
  &:active { background:#404b5a; } /* при нажатии */
}
