@mixin logoBannerComponent(
  $banner:null,
  $left:0px,
  $top:0px,
  $d-none:false
){
  .logo-banner{
    @if $d-none { display: none; }
    position: absolute;
    background: url($banner) -70px 40px no-repeat;
    background-size: contain; 
    background-size: 60%;
    top: $top;
    left: $left;
    width: 100%;
    height: 100%;
    z-index: -11;
  }
}