.content {
  height: calc(100vh - 120px); // компенсация heading
  position: relative;
}

/* BANNER */
.content .layer-banner {
  z-index: 1; // ====== Первый слой
  overflow: hidden;
  position: absolute; // .content relative
  position: relative;
  height: 100%;
  top: 0;
  left: 0;
  & img {
    z-index: 0;
    position: absolute;
    max-height: 100%;
    max-width: 100%;
    top: -61px;
    left: 0;
  }
}

/* DISING */
.content .layer-triangles {
  z-index: 2; // ====== Второй слой
  overflow: hidden;
  position: absolute;  // .content relative
  position: relative;
  height: 100%;
  top: -100%;
  left: 0;
  // верхний треугольник
  & .upper-triangle {
    z-index: 1;
    position: absolute;
    top: 0px;
    right: 0px;
    border-right: 992px solid #fff;
    border-top: 0px solid transparent;
    border-bottom: 250px solid transparent;
  }
  // нижний треугольник
  & .lower-triangle {
    z-index: 1;
    position: absolute;
    left: 0px;
    top: 312px;
    border-left: 992px solid #fff;
    border-top: 250px solid transparent;
    border-bottom: 0px solid transparent;
  }
  // треугольник справа
  & .right-triangle {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0px;
    border-right: 460px solid #9a0007;
    border-top: 125px solid transparent;
    border-bottom: 110px solid transparent;
  }
  // треугольник слева
  & .left-triangle {
    z-index: 3;
    position: absolute;
    left: 0px;
    top: 165px;
    border-left: 560px solid #272e38;
    border-top: 150px solid transparent;
    border-bottom: 315px solid transparent;
  }
  // длинная линия
  & .long-line{
    z-index: 2;
    position: absolute;
    right: 0;
    top: 492px;
    /* длинна полосы */
    width: 640px;
    /* поворот линии */
    transform: skewY(14deg);
    /* ширина полосы */
    border-bottom: 30px solid #9a0007;
    /* угол на конце линии*/
    border-left: 36px solid transparent;
  }
  // короткая линия
  & .short-line{
    z-index: 2;
    position: absolute;
    right: 0;
    /* отступы от нижней линии*/
    top: 555px;
    /* длинна полосы */
    width: 460px;
    /* поворот линии */
    transform: skewY(14deg);
    /* ширина полосы #272e38 */
    border-bottom: 18px solid #272e38;
    /* угол на конце линии*/
    border-left: 20px solid transparent;
  }
}
 
/* TEXT */
.content .layer-text {
  z-index: 5; // ====== Второй слой
  overflow: hidden;
  position: absolute;  // .content relative
  position: relative;
  height: 100%;
  top: -200%;
  left: 0;
  border: 2px solid #000;
  & .contact {
    top: 250px;
    left: 30px;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    & h1 {
      transform: skew(-15deg, 0deg);
    }
    & span{
      display: block;
      font-size: 18px;
      margin-top: -12px;
      margin-bottom: 38px;
    }
    
    .contact-phone {
      position: relative;
      /* font-weight: 700; */
      letter-spacing: 1px;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 10px;
      margin-left: 30px;
    }
    
    img{
      width: 22px;
    }
    .contact-phone::before {
      content: '';
      width: 34px;
      height: 34px;
      padding-left: 36px;
     // background: url(../../img/phone.svg) no-repeat left center;
    }

  }

  & .mеnu{

  }
}