
.header{
  display: flex;
  height: 100%;
  background-color: rgba(0,0,0, 1.0);
  &-brand {
    display: flex;
    align-items: center;
    padding-left: 18%;
    background:rgba(205, 54, 54, 1.0);
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1.0);
    &::after{
      content:'';
      width: 80px;
      background: #000;
      border-top: 100px solid rgba(205, 54, 54, 1.0);
      border-right: transparent solid 24px;
   }
  }
  &-menu {

  }
}






//.header {
//  display: flex;
//  height: 100%;
//  background-color: rgba(0,0,0, 1.0);
//  &__section-brand {
//    display: flex;
//    align-items: center;
//    padding-left: 18%;
//    background:rgba(205, 54, 54, 1.0);
//    font-family: 'Raleway', sans-serif;
//    font-size: 45px;
//    font-weight: 700;
//    color: #fff;
//    box-shadow: -18px 14px 0px -6px rgba(34, 60, 80, 1);
//    &::after {
//      content:'';
//      width: 80px;
//      background: #000;
//      border-top: 100px solid rgba(205, 54, 54, 1.0);
//      border-right: transparent solid 24px;
//    }
//  }

//  &__section-menu {
//    display: flex;
//    align-items: center;
//    color: rgba(255, 255, 255, 1.0);
//  }
//}