@mixin logo(
  $logo:null,
  $top:0,
  $left:50%,
  $width:250px,
  $height:170px
){
  .logo{
    position: absolute;
    left:$left;
    top:$top;
    background: url($logo) no-repeat;
    background-size: 100%;
    margin-left: -$width/2; //center
    width: $width;
    height: $height;
    z-index: 3;
  }
}