@mixin triangle-upper(
  $a:100px,
  $b:50px, 
  $c:50px, 
  $top:0px,
  $color:#fff
 ){
  .triangle-upper{
    position: absolute;
    top: $top;
    left: 0px;
    border-right: $a solid $color;
    border-top: $b solid transparent;
    border-bottom: $c solid transparent;
    z-index: 0;
  }
}