@import 'normalize.css';

@import './menu/menu.scss';
@import './sectionMain/main.scss';
@import './sectionAbout/about.scss';

* { box-sizing: border-box; }

.app {
  display: flex;
  justify-content: center;
}

.root {
  margin-top: 20px;
  width: 992px;
  box-shadow:3px 5px 8px 7px rgba(0,0,0,0.32);
  -webkit-box-shadow:3px 5px 8px 7px rgba(0,0,0,0.32);
  -moz-box-shadow:3px 5px 8px 7px rgba(0,0,0,0.32);
}
section {
  height: 100vh;
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
  .root {
   // width: 992px;
  }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .root {
   // width: 992;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .root {
   // width: 768px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .root {
   // width: 767;
  }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  .root {
    // width: 480;
  //  background-color: red;
  }
}

@media (max-width: 650px) {
  .root {
   // width: 650;
  }
}